{% extends "home/principal_layout.html" %}


{% block cssPers %}
    <link  rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}" type="text/css">
{% endblock cssPers %}


{% block contenido %}
        <section class="py-5">
            <div class="container">
                <div class="row d-flex">
                    <div class="col-lg-6 aling-self-center">
                        <h1 class="mb-4"> <spam class="text-primary font-weight-bold">Gestión de Historias Clínicas Electrónicas Digitales</spam></h1>
                        <p class="lead text-muted mb-4"> Tenemos los datos de tus pacientes a salvo y accesibles desde cualquier lugar. 
                            Con nuestro programa de gestión online también podrás desde crear nuevas historias clínicas
                            hasta gestionar los horarios de las citas medicas, entre otras muchas otras cosas.
                        </p>
                        <div>
                            <a href="{{ url_for('inicio_sesion') }}" class="btn btn-primary mr-2 mb-3">Inicia Sesion</a>
                            <a href="{{ url_for('registro_clinico') }}" class="btn btn-secondary mb-3">Registre su Clinica</a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <img src="../static/imagenes/img_inicio.jpg" class="img-fluid img-container">
                    </div>
                </div>
            </div>
        </section>
        <section class="body2 py-5 d-flex">
            <div class="container aling-self-center">
                <div class="w-75 text-center mx-auto md-5 text-primary">
                    <h2 class="font-weight-bold">Servicios de Hermes Clinics</h2>
                    <p>Hermes Clinics ofrece una gran variedad de servicios para todo el personal de su clinica</p>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="card card-bg-color">
                            <div class="card-body">
                                <small class="font-weight-bold"> Medicos y Enfermeros</small>
                                <h2 class="font-weight-bold mb-4"> Personal Medico</h2>
                                <p class="mb-3"></p>
                                <ul class="list-unstyled mb-0">
                                    <li>
                                        <i class="icon ion-md-checkmark"></i> Revisa y Crea las historias clinicas de los pacientes de tu clinica.
                                    </li>
                                    <li>
                                        <i class="icon ion-md-checkmark"></i> Agenda consultas facilmente.
                                    </li>
                                    <li>
                                        <i class="icon ion-md-checkmark"></i> Agenda examenes medicos a los pacientes de la clinica.
                                    </li>
                                    <li>
                                        <i class="icon ion-md-checkmark"></i> Como enfermero podras revisar las historias clinicas e agregar cierta informacion.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card card-bg-color">
                            <div class="card-body">
                                <small class="font-weight-bold">Administradores</small>
                                <h2 class="font-weight-bold mb-4">Administradores</h2>
                                <p class="mb-3"></p>
                                <ul class="list-unstyled mb-0">
                                    <li>
                                        <i class="icon ion-md-checkmark"></i> Gestiona todo el personal de la clinica, como registrar un doctor, un enfermero, etc.
                                    </li>
                                    <li>
                                        <i class="icon ion-md-checkmark"></i> Gestiona todos los pacientes de tu clinica.
                                    </li>
                                    <li>
                                        <i class="icon ion-md-checkmark"></i> Control sobre los horarios y agendas de las citas.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card card-bg-color">
                            <div class="card-body">
                                <small class="font-weight-bold">Pacientes</small>
                                <h2 class="font-weight-bold mb-4">Pacientes</h2>
                                <p class="mb-3"></p>
                                <ul class="list-unstyled mb-0">
                                    <li>
                                        <i class="icon ion-md-checkmark"></i> Acceso a su historia clinica.
                                    </li>
                                    <li>
                                        <i class="icon ion-md-checkmark"></i> acceso a la informacion sobre las citas agendadas.
                                    </li>
                                    <li>
                                        <i class="icon ion-md-checkmark"></i> cancelacion de citas agendadas.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock contenido %}