:root{
    --blue: #23374d;
    --blue-x: #0085FF;
    --light-blue: #85c3FF;
    --white: #ffffff;
    --white-x: #dcdcdc;
    --black: rgb(0, 0, 0);
} 

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    color: var(--white);
    background-color: var(--white);
    overflow: hidden;
}

.bg-primary{
    background-color: var(--blue) !important;
}

.bg-light{
    background-color: var(--blue) !important;
}

.link-color{
    color: var(--white) !important
}

.user-info{
    background-color: var(--light-blue) !important;
}

a:hover{
    text-decoration: none;
}

#sidebar-container{
    min-height: 100vh;
}

#sidebar-container{
    padding: .875rem 1.25rem;
}

#sidebar-container .menu{
    width: 18rem;
    font-size: small;
}

@media (max-width: 768px){
    #sidebar-container{
        display: none;
    }
}

.nav-route{
    font-size: small;
    background-color: var(--white-x);
}