:root{
    --blue: #23374d;
    --blue-x: #0085FF;
    --light-blue: #85c3FF;
    --white: #ffffff;
    --white-x: #dcdcdc;
    --black: rgb(0, 0, 0);
} 

.form-style-title{
    color: var(--black);
    font-size: medium;
}

.form-style-body{
    color: var(--black) !important;
}

.bg-form{
    background-color: var(--white-x);
}

.form-control:focus {
    border-color: var(--blue-x);
    border-width: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

.btn-warning{
    background-color: var(--blue-x) !important;
}