:root{
    --blue: #23374d;
    --blue-x: #0085FF;
    --light-blue: #85c3FF;
    --white: #ffffff;
    --white-x: #dcdcdc;
    --black: rgb(0, 0, 0);
} 

.bg-formulario{
	background-color: var(--white);
}

.form-control, .btn{
	min-height: 3.125rem;
	line-height: initial;
}

.img-1{
	background-image: url("../imagenes/img-login.jpg");
	background-size: cover;
	background-position: center;
}

.titulo{
    font-size: 1rem;
    font-weight: 300;
}


