{% extends "principal_layout.html" %}


{% block cssPers %}
  <link  rel="stylesheet" href="../static/css/registro_clinica.css" type="text/css">
{% endblock cssPers %}
        

{% block contenido %}
        <section>
            <div class="row mt-5">
                <div class="col-lg-3"></div>
                <div class="col-lg-6 bg-form mb-5">
                    <div class="text-center">
                        <h1 class="font-weight-bold text-black mb-5 mt-5">
                            Solicitud para Registrar su Clinica
                        </h1>
                    </div>
                    <form>
                        <div class="form-group mb-4">
                          <label for="exampleInputEmail1" class="form-label text-black font-weight-bold">Direccion de Correo</label>
                          <input type="email" class="form-control" placeholder="Ingrese un correo institucional" id="exampleInputEmail1" aria-describedby="emailHelp">
                          <small id="emailHelp" class="form-text text-muted">Provea un correo valido de su clinica</small>
                        </div>
                        <div class="form-group mb-4">
                          <label for="exampleInputPassword1" class="form-label text-black font-weight-bold">Nombre  de la Clinica o Institucion</label>
                          <input type="text" class="form-control mb-2"  placeholder="Ingrese el nombre de la clinica o institucion" id="exampleInputPassword1">
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="exampleFormControlSelect1" class="text-black font-weight-bold">Ciudad donde Opera</label>
                                    <select class="form-control" id="exampleFormControlSelect1">
                                      <option>Cali-Valle del Cauca</option>
                                      <option>Bogota-Cundinamarca</option>
                                      <option>3</option>
                                      <option>4</option>
                                      <option>5</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group mb-4">
                                    <label for="exampleInputPassword1" class="form-label text-black font-weight-bold">Direccion  de la Clinica</label>
                                    <input type="text" class="form-control mb-2"  placeholder="Ingrese la direccion de la clinica" id="exampleInputPassword1">
                                  </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlSelect1" class="text-black font-weight-bold">Cantidad de pacientes Esperados</label>
                            <select class="form-control" id="exampleFormControlSelect1">
                              <option>Menos de 500.000</option>
                              <option>Mas de 500.000</option>
                              <option>Mas de 1.000.000</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary w-100 btn-color font-weight-bold mb-4">Enviar Solicitud</button>
                    </form>
                </div>
                <div class="col-lg-3"></div>
            </div>
        </section>
{% endblock contenido %}
