{% extends "principal_layout.html" %}


{% block cssPers %}
  <link  rel="stylesheet" href="../static/css/registro_clinica.css" type="text/css">
{% endblock cssPers %}
        

{% block contenido %}
        <section>
            <div class="row mt-5">
                <div class="col-lg-3"></div>
                <div class="col-lg-6 bg-form mb-5">
                    <div class="text-center">
                        <h1 class="font-weight-bold text-black mb-5 mt-5">
                            Solicitud para Registrar su Clinica
                        </h1>
                    </div>
                    <form method="POST" action="" novalidate>
                        {{ form.hidden_tag() }}
                        <div class="form-group mb-4">
                          <label for="exampleInputEmail1" class="form-label text-black font-weight-bold">Direccion de Correo*</label>
                          <small id="emailHelp" class="form-text text-muted">Provea un correo valido de su clinica por el cual podamos comunicarnos</small>
                          {% if form.email.errors %}
                            {{ form.email(class="form-control is-invalid", placeholder="Ingrese un correo institucional", id="exampleInputEmail1", type="email") }}
                            <div class="invalid-feedback">
                                {% for error in form.email.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                          {% else %}
                            {{ form.email(class="form-control", placeholder="Ingrese un correo institucional", id="exampleInputEmail1", type="email") }}
                          {% endif %}
                        </div>
                        <div class="form-group mb-4">
                          <label for="exampleInputPassword1" class="form-label text-black font-weight-bold">Nombre  de la Clinica o Institucion*</label>
                          {% if form.nombreC.errors %}
                          {{ form.nombreC(class="form-control mb-2 is-invalid", placeholder="Ingrese el nombre de la clinica o institucion", id="exampleInputPassword1", type="text") }}
                          <div class="invalid-feedback">
                            {% for error in form.nombreC.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                          </div>
                          {% else %}
                            {{ form.nombreC(class="form-control mb-2", placeholder="Ingrese el nombre de la clinica o institucion", id="exampleInputPassword1", type="text") }}
                          {% endif %}
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="exampleFormControlSelect1" class="text-black font-weight-bold">Ciudad donde Opera</label>
                                    {{ form.ciudadC(class="form-control", id="exampleFormControlSelect1") }}
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group mb-4">
                                    <label for="exampleInputPassword1" class="form-label text-black font-weight-bold">Direccion  de la Clinica*</label>
                                    <small id="emailHelp" class="form-text text-muted">Provea una direccion valida</small>
                                    {% if form.direccionC.errors %}
                                        {{ form.direccionC(class="form-control mb-2 is-invalid", placeholder="Ingrese la direccion de la clinica", id="exampleInputPassword1", type="text") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.direccionC.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.direccionC(class="form-control mb-2", placeholder="Ingrese la direccion de la clinica", id="exampleInputPassword1", type="text") }}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {{ form.submit(class="btn btn-primary w-100 btn-color font-weight-bold mb-4", type="submit") }}
                    </form>
                </div>
                <div class="col-lg-3"></div>
            </div>
        </section>
{% endblock contenido %}
