{% extends "adminP/adminP_layout.html" %}

{% block cssPers %}
  <link  rel="stylesheet" href="{{ url_for('static', filename='css/adminP_clinicasInfo.css') }}" type="text/css">
{% endblock cssPers %}

{% block contenido %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb nav-route">
            <li class="breadcrumb-item"><a href="{{ url_for('adminClinicas') }}">Clinicas del Sistema</a></li>
            <li class="breadcrumb-item active" aria-current="page">Informacion de nombre clinica</li>
        </ol>
    </nav>
    <div class="row mb-4">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 bg-form">
            <h1 class="font-weight-bold text-black form-style-title mb-5 text-center mt-3"> Informacion de nombre </h1>
            <form method="POST" action="" novalidate>
                <div class="row">
                    <div class="col">
                        <div class="form-group mb-4">
                            <label for="exampleInputEmail1" class="form-label font-weight-bold form-style-body">Nombres</label>
                            <input class="form-control" type="text" placeholder="un nombre" readonly>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group mb-4">
                            <label for="exampleInputEmail1" class="form-label font-weight-bold form-style-body">Descripcion</label>
                            <input class="form-control" type="text" placeholder="un apellido" readonly>
                        </div>
                    </div>
                </div>
                <div class="form-group mb-4">
                    <label for="exampleInputEmail1" class="form-label font-weight-bold form-style-body">Ciudad</label>
                    <input class="form-control" type="text" placeholder="una ciudad" readonly>
                </div>
            </form>
        </div>
        <div class="col-lg-2"></div>
    </div>
    <div> 
        <div class="bg-form form-title">
            <h1 class="font-weight-bold text-black form-style-title text-center form-title-style"> Administradores de Nombre Clinica </h1>
        </div>
        <div class="table-responsive">
            <table class="table table-hover table-sm">
                <thead>
                  <tr>
                    <th scope="col">Nro documento</th>
                    <th scope="col">Nombres</th>
                    <th scope="col">Apellidos</th>
                    <th scope="col">Ciudad</th>
                    <th scope="col">Correo</th>
                    <th scope="col">Telefono/Celular</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>aaa</td>
                    <td>aaa</td>
                    <td>aaa</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
{% endblock contenido %}