{% extends "adminP/adminP_layout.html" %}
{% block contenido %}
                <nav aria-label="breadcrumb mb-4">
                    <ol class="breadcrumb nav-route">
                        <li class="breadcrumb-item active" aria-current="page">Solicitudes Clinicas</li>
                    </ol>
                </nav>
                <div class="table-responsive ml-4">
                    <table class="table table-hover table-sm">
                        <thead>
                          <tr>
                            <th scope="col">id Solicitud</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Ciudad</th>
                            <th scope="col">Cantidad de Pacientes</th>
                            <th scope="col">Correo</th>
                            <th scope="col">Opciones</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                            <td>aaa</td>
                            <td>
                                <div class="w-10">
                                    <form method="POST" action="" novalidate>
                                        <button class="btn btn-success font-weight-bold" type="submit"> Aceptar</button>
                                        <button class="btn btn-danger  font-weight-bold" type="submit"> Denegar</button>
                                    </form>
    
                                </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                </div>
{% endblock contenido %}
          