{% extends "adminP/adminP_layout.html" %}
{% block contenido %}
                <nav aria-label="breadcrumb mb-4">
                    <ol class="breadcrumb nav-route">
                        <li class="breadcrumb-item active" aria-current="page">Solicitudes Clinicas</li>
                    </ol>
                </nav>
                <div class="table-responsive ml-4">
                    <table class="table table-hover table-sm">
                        <thead>
                          <tr>
                            <th scope="col">id Solicitud</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Ciudad</th>
                            <th scope="col">Direccion</th>
                            <th scope="col">Opciones</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for i in soli %}
                            <tr>
                              <th scope="row">{{ i['id'] }}</th>
                              <td>{{ i['nombre'] }}</td>
                              <td>{{ i['ciudad.nombre'] }}</td>
                              <td>{{ i['direccion'] }}</td>
                              {% if i['estado'] == 'noPendiente' %}
                                <td>
                                    <div class="w-10">
                                        <form method="POST" action="" novalidate>
                                            <a class="btn btn-success font-weight-bold" href="#" role="button">Aceptat</a>
                                            <a class="btn btn-danger font-weight-bold" href="{{ url_for('adminSolicitudesClinicasDel', id=i['id']) }}" role="button">Eliminar</a>
                                        </form>
                                    </div>
                                </td>
                              {% else %}
                                <td>Activacion Pendiente</td>
                              {% endif %}
                            </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                </div>
{% endblock contenido %}
          