{% extends "adminP/adminP_layout.html" %}

{% block contenido %}
                <nav aria-label="breadcrumb mb-4">
                    <ol class="breadcrumb nav-route">
                        <li class="breadcrumb-item active" aria-current="page">Administradores del Sistema</li>
                    </ol>
                </nav>
                <div class="ml-3 mb-4">
                    <a class="btn btn-success font-weight-bold" href="#" role="button"><i class="icon ion-md-add mr-3 lead"></i>Registrar Nuevo Administrador</a>
                </div>
                <div class="table-responsive ml-4">
                    <table class="table table-hover table-sm">
                        <thead>
                          <tr>
                            <th scope="col">Nro documento</th>
                            <th scope="col">Nombres</th>
                            <th scope="col">Apellidos</th>
                            <th scope="col">Ciudad</th>
                            <th scope="col">Mas Informacion</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for i in admins %}
                            <tr>
                              <th scope="row">{{ i['nro_documento'] }}</th>
                              <td>{{ i['nombre'] }}</td>
                              <td>{{ i['apellidos'] }}</td>
                              <td>{{ i['ciudad.nombre'] }}</td>
                              <td>
                                <div class="w-10">
                                  <a class="btn btn-danger btn-sm d-block mb-1 mr-5" href="{{ url_for('adminAdminDel') }}" role="button">Eliminar</a>
                                  <a class="btn btn-warning btn-sm d-block mb-1 mr-5" href="{{ url_for('adminAdminUp') }}" role="button">Actualizar</a>
                                  <a class="btn btn-info btn-sm d-block mb-1 mr-5" href="{{ url_for('adminAdmininfo') }}" role="button">Mas Informacion</a>
                              </div>
                              </td>
                            </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                </div>
{% endblock contenido %}
          